
html {
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
    background:rgb(251, 236, 200);
}

main{
    position:absolute;
    display:block;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 100%;
}



h2 {
    margin-block: 0 0;
    text-align: center;
    font-weight: 900;
    color: rgb(87, 130, 183);
    text-shadow: 1px 1px 0px rgb(77, 118, 168);
    font-size: 70px;
    width:100%;
    margin: 0px;
    margin-bottom: 15px;
}


footer{
    position:relative;
    padding:2vh;
    background:rgb(87, 130, 183);
    color:rgb(251, 236, 200);
    font-weight: bold;
}

@media (max-width: 768px) {
    h2 {
        font-size: 10vw;
    }
}





